<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.ListSongsDao">

    <select id="findListSongsByListId" parameterType="java.lang.String" resultType="com.example.entity.ListSongs">
	    SELECT * from music163_list_song_available WHERE listId=#{listId} group by songId
    </select>
    <select id="countByListId" parameterType="java.lang.String" resultType="java.lang.Integer">
         SELECT  count(*)  from (SELECT * from music163_list_song_available WHERE listId=#{listId} group by songId) t

    </select>

</mapper>